src/main/mule/product/product.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
	<flow name="procduct-Flow" doc:id="0b41f3ff-189b-4bc2-8a49-6267daae3852" initialState="${flowState.product}">
		<sftp:listener doc:name="On New or Updated File" doc:id="a7db2271-1a6b-4ff5-adbf-3eb0e4ddf83b" config-ref="SFTP_Config" directory="${sftp.directory.product.input}" recursive="false">
			<scheduling-strategy>
				<cron expression="${sftp.schedulerExpresssion.product}" timeZone="America/New_York"/>
			</scheduling-strategy>
		</sftp:listener>
		<set-variable value="#[output application/json&#10;---&#10;payload]" doc:name="jsonData" doc:id="62f70ead-38b3-412c-942a-9fbb257a8bf7" variableName="jsonData" />
		<tracing:with-correlation-id doc:name="With CorrelationID" doc:id="e03a80f2-3688-43ce-adcb-a23dda3fe2a2" correlationId="#[vars.flowVars.initialVars.originalCorrelationId default correlationId]">
			<ee:transform doc:name="vars:flowVars" doc:id="1db167fc-a1d1-48f8-9406-09849174019d">
				<ee:message />
				<ee:variables>
					<ee:set-variable variableName="flowVars"><![CDATA[%dw 2.0
output application/java
---
{
	"sftp": {
		"fileName": message.attributes.name default "file-name-not-found",
		"inputPath": Mule::p('sftp.directory.product.input'),
		"outputPath": Mule::p('sftp.directory.product.output'),
		"failedPath": Mule::p('sftp.directory.product.failed')
	},
	"email": {
		"subject" : "Product SFTP to SF Sync Failed - " ++ message.attributes.name default "file-name-not-found"
	},
	"initialVars": {
		
		//email: vars.idocData.MATMAS05.API
		//email: Mule::p('outlook.recipients'),
		//docNum: vars.jsonData.FFCCUSN default "",
		//vtweg: vars.idocData.E1MARAM.E1MVKEM.VTWEG
	},
	"logger": {
		fileName: message.attributes.name default "file-name-not-found",
		//email: vars.idocData.E1KNA1M.Z1E1KNA1M.ZOWNER,
		//docNum: vars.idocData.EDI_DC40.DOCNUM
		//email: Mule::p('outlook.recipients'),
		//docNum: vars.jsonData.FFCCUSN default "",
	}
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<json-logger:logger doc:name="INFO: File received from SFTP for processing" doc:id="cacb2d71-5a9b-4819-bf9f-e244bd076aba" config-ref="JSON_Logger_Config" message="Product File received from SFTP for processing">
				<json-logger:content><![CDATA[#[output application/json ---
{
	fileName: vars.flowVars.sftp.fileName,
	jsonDataSize: sizeOf(vars.jsonData)
}]]]></json-logger:content>
			</json-logger:logger>
			<json-logger:logger doc:name="DEBUG: Incoming Payload" doc:id="cde779b4-f640-4961-a422-237cc3cf5346" config-ref="JSON_Logger_Config" message="Incoming Payload" tracePoint="BEFORE_REQUEST" priority="DEBUG">
				<json-logger:content><![CDATA[#[output application/json ---
{
    payload: payload.^raw as String,
    attributes: attributes 
}]]]></json-logger:content>
			</json-logger:logger>
			<flow-ref doc:name="productSub_Flow" doc:id="c98860ab-e5f6-4caf-a007-4ae6ceafbca6" name="productSub_Flow" />
			<json-logger:logger doc:name="INFO: Product file processed from SFTP" doc:id="35d5b810-f437-4f0d-b428-b0f0a817d465" config-ref="JSON_Logger_Config" message="Product file processed from SFTP" tracePoint="END">
				<json-logger:content><![CDATA[#[output application/json ---
{
	fileName: vars.flowVars.sftp.fileName
}]]]></json-logger:content>
			</json-logger:logger>
		</tracing:with-correlation-id>
	</flow>
	<sub-flow name="productSub_Flow" doc:id="30c54fda-b0dc-4285-923a-ed40687cb12e" >
		<ee:transform doc:name="Payload, sfDetails" doc:id="a7470f1f-5e1e-49eb-b039-50d01352f960" >
			<ee:message >
				<ee:set-payload resource="dwl/product.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sfDetails" ><![CDATA[%dw 2.0
output application/java
---
{
	object: Mule::p('sfdc.product.object'),
	externalId: Mule::p('sfdc.product.externalId')
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Upsert Product Data" doc:id="3c3f9393-d44f-44ce-9e2a-9b6d10392b07" name="upsert-data-to-salesforce" />
		<choice doc:name="Choice" doc:id="354360fc-809d-46a7-9409-3e358ce5b988" >
			<when expression="#[payload.totalFailedJobs == 0]" >
				<flow-ref doc:name="move-files-to-output-path" doc:id="d4f68304-1683-4a09-be90-1faca02cff11" name="move-files-to-output-path" />
				<ee:transform doc:name="Transform Message" doc:id="252895e6-367a-4453-8ee9-e8512d05e560" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  apiName: Mule::p('api.name'),
  apiVersion: Mule::p('api.version'),
  traceId: correlationId,
  timestamp: now() as DateTime,
  message: "Success",
  sfResponse: write(payload,"application/json")
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="INFO: Product file processed successfully" doc:id="55462e39-cbfa-4bb6-9649-702c7d54b179" config-ref="JSON_Logger_Config" message="Product Master file processed successfully" tracePoint="END" >
					<json-logger:content ><![CDATA[#[output application/json
---
payload]]]></json-logger:content>
				</json-logger:logger>
			</when>
			<otherwise >
				<json-logger:logger doc:name="ERROR: Upsert in salesforce failed. Moving file to failed folder" doc:id="ec758b26-6edd-4142-83c1-31f00ecc502e" config-ref="JSON_Logger_Config" message="Upsert in salesforce failed. Moving file to failed folder" tracePoint="FLOW" priority="ERROR" >
					<json-logger:content ><![CDATA[#[output application/json ---
{
}]]]></json-logger:content>
				</json-logger:logger>
				<ee:transform doc:name="Reverse Mapping" doc:id="f9ec1cb7-be51-48d9-8259-8a3c8d869a78" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
    FFIITMN: item.ProductCode,
    FFIARCD: item.IsActive,
    FFIPCKI: item.Item_Pack__c,
    FFISZEI: item.Item_size__c,
    FFIUPCN: item.UPC_Number_case__c,
    FFIIDE1: item.Name,
    FFIIDE2: item.Description,
    FFIWTIW: item.Item_weight__c,
    FFIWTET: item.Tare_weight__c,
    FFICWCD: item.Catch_weight_code__c,
    FFICBEC: item.Case_cube__c,
    FFIBRDN: item.Item_brand__c,
    FFIHGTH: item.Height__c,
    FFIWDTH: item.Width__c,
    FFIDPTH: item.Depth__c,
    FFIBNCD: item.Item_brand_code__c,
    errorMessage: item.errorMessage
} filterObject ((value, key, index) -> value != null))]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;vars.flowVars.sftp.failedPath ++ &quot;/&quot; ++ &quot;sf_error_$(vars.jobId default '').txt&quot;]" doc:name="targetPath" doc:id="78a955aa-48d2-4f94-86c3-56d75a3ac1af" variableName="targetPath" />
				<flow-ref doc:name="write-files-to-sftp" doc:id="830f4ab9-5a16-4a59-8312-505c4d41f339" name="write-files-to-sftp" />
				<flow-ref doc:name="move-files-to-output-path" doc:id="1c278488-380e-40a6-b28b-5b7dc0d07177" name="move-files-to-output-path" />
				<ee:transform doc:name="Map Error Body" doc:id="c65d02c9-7ebc-4d01-a029-046df7d34820" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	apiName: Mule::p('api.name'),
	version: Mule::p('api.version'),
	timeStamp: now() as DateTime,
	success: false,
	errorDetails: [{
		message: payload.errors[0].message
	}]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="INFO: Product Masterfile processed failed" doc:id="90c2069b-237d-4320-aa5e-07481d164dc0" config-ref="JSON_Logger_Config" message="Product Master file processed failed" tracePoint="END" >
					<json-logger:content ><![CDATA[#[output application/json
---
vars.flowVars.logger ++
{
	success: false
}]]]></json-logger:content>
				</json-logger:logger>
			</otherwise>
		</choice>
		<json-logger:logger doc:name="DEBUG: Product to Exit" doc:id="940dc567-62f3-42c6-ace8-01a99e450138" config-ref="JSON_Logger_Config" message="Product Sub Flow Completed">
			<json-logger:content><![CDATA[#[output application/json ---
{
    request: payload
    
}]]]></json-logger:content>
		</json-logger:logger>
	</sub-flow>
</mule>
