src/main/mule/product/product.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
	<!-- [STUDIO:"procduct-Flow"]<flow name="procduct-Flow" doc:id="0b41f3ff-189b-4bc2-8a49-6267daae3852" initialState="${flowState.customerMaster}">
		<sftp:listener doc:name="On New or Updated File" doc:id="a7db2271-1a6b-4ff5-adbf-3eb0e4ddf83b" config-ref="SFTP_Config" directory="${sftp.directory.product}" recursive="false">
			<scheduling-strategy>
				<fixed-frequency frequency="10000" startDelay="10000" />
			</scheduling-strategy>
		</sftp:listener>
		<tracing:with-correlation-id doc:name="With CorrelationID" doc:id="e03a80f2-3688-43ce-adcb-a23dda3fe2a2" correlationId="#[vars.flowVars.initialVars.originalCorrelationId default correlationId&#93;">
			<json-logger:logger doc:name="INFO: File received from SFTP for processing" doc:id="cacb2d71-5a9b-4819-bf9f-e244bd076aba" config-ref="JSON_Logger_Config" message="Customer master File received from SFTP for processing">
				<json-logger:content><![CDATA[#[output application/json &#45;&#45;-
{
	fileName: vars.flowVars.sftp.fileName
}&#93;&#93;&#93;></json-logger:content>
			</json-logger:logger>
			<json-logger:logger doc:name="DEBUG: Incoming Payload" doc:id="cde779b4-f640-4961-a422-237cc3cf5346" config-ref="JSON_Logger_Config" message="Incoming Payload" tracePoint="BEFORE_REQUEST" priority="DEBUG">
				<json-logger:content><![CDATA[#[output application/json &#45;&#45;-
{
    payload: payload.^raw as String,
    attributes: attributes 
}&#93;&#93;&#93;></json-logger:content>
			</json-logger:logger>
			<flow-ref doc:name="productSub_Flow" doc:id="c98860ab-e5f6-4caf-a007-4ae6ceafbca6" name="productSub_Flow" />
			<json-logger:logger doc:name="INFO: Product file processed from SFTP" doc:id="35d5b810-f437-4f0d-b428-b0f0a817d465" config-ref="JSON_Logger_Config" message="Product file processed from SFTP" tracePoint="END">
				<json-logger:content><![CDATA[#[output application/json &#45;&#45;-
{
	fileName: vars.flowVars.sftp.fileName
}&#93;&#93;&#93;></json-logger:content>
			</json-logger:logger>
		</tracing:with-correlation-id>
	</flow> [STUDIO] -->
	<sub-flow name="productSub_Flow" doc:id="30c54fda-b0dc-4285-923a-ed40687cb12e" >
		<json-logger:logger doc:name="DEBUG: Product to Entry" doc:id="6e49bb3e-93a3-4216-b418-0faae05a54ec" config-ref="JSON_Logger_Config" message="Product to  Sub Flow Started">
			<json-logger:content><![CDATA[#[output application/json ---
{
    request: payload
    
}]]]></json-logger:content>
		</json-logger:logger>
		<ee:transform doc:name="Payload, sfDetails" doc:id="a7470f1f-5e1e-49eb-b039-50d01352f960" >
			<ee:message >
				<ee:set-payload resource="dwl/product.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sfDetails" ><![CDATA[%dw 2.0
output application/java
---
{
	object: Mule::p('sfdc.product.object'),
	externalId: Mule::p('sfdc.product.externalId')
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Upsert Product Data" doc:id="3c3f9393-d44f-44ce-9e2a-9b6d10392b07" name="upsert-data-to-salesforce" />
		<ee:transform doc:name="Transform Message" doc:id="7b9dc60b-f4ac-42fa-a38b-a462d8f4afca">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: Mule::p('api.name'),
  apiVersion: Mule::p('api.version'),
  traceId: correlationId,
  timestamp: now() as DateTime,
  message: "Success",
  sfResponse: write(payload,"application/json")
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<json-logger:logger doc:name="DEBUG: Product to Exit" doc:id="940dc567-62f3-42c6-ace8-01a99e450138" config-ref="JSON_Logger_Config" message="Product Sub Flow Completed" >
			<json-logger:content ><![CDATA[#[output application/json ---
{
    request: payload
    
}]]]></json-logger:content>
		</json-logger:logger>
	</sub-flow>
</mule>
